.rowss {
  display: flex;
}
.item {
  display: flex;
}
.itemA {
  flex-basis: 25%;
}
.itemB {
  flex-basis: 25%;
}
.itemC {
  flex-basis: 25%;
}
.itemD {
  flex-basis: 25%;
}
.subhead {
  flex-basis: 30%;
}
.subhead2 {
  flex-basis: 10%;
}
